.titulo{
    font-family: 'GilroyBold', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    text-decoration: none;
    margin-bottom: -10px;
    margin-top: -5px;
    /* Efecto de sombra y brillo inicial */
    text-shadow: 0 0 10px #FF0000, 0 0 20px #FF0000, 0 0 30px #FF0000, 0 0 40px #FF0000;
    
    /* Aplica la animación de parpadeo de luz */
    animation: flicker 2s infinite;
  }
  
  /* Animación para simular el parpadeo terrorífico */
  @keyframes flicker {
    0% {
        opacity: 1; /* Brillo normal */
        text-shadow: 0 0 10px #FF0000, 0 0 20px #FF0000, 0 0 30px #FF0000;
    }
    5% {
        opacity: 0.6; /* Disminuye el brillo */
        text-shadow: none; /* Apaga el brillo */
    }
    10% {
        opacity: 0.8; /* Vuelve a encenderse parcialmente */
        text-shadow: 0 0 15px #FF0000, 0 0 25px #FF0000;
    }
    15% {
        opacity: 0.3; /* Se oscurece más */
        text-shadow: none;
    }
    30% {
        opacity: 1; /* Encendido total */
        text-shadow: 0 0 20px #FF0000, 0 0 30px #FF0000;
    }
    40% {
        opacity: 0; /* Se apaga */
        text-shadow: none;
    }
    60% {
        opacity: 0.9; /* Encendido parcial */
        text-shadow: 0 0 15px #FF0000, 0 0 25px #FF0000;
    }
    70% {
        opacity: 0.1; /* Casi apagado */
        text-shadow: none;
    }
    100% {
        opacity: 1; /* Encendido completo */
        text-shadow: 0 0 20px #FF0000, 0 0 40px #FF0000, 0 0 60px #FF0000;
    }
  }
.bold-text {
    font-family: 'GilroyBold', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: -5px;
    font-size: 14px;
  
}
body{
    background-color: #000;
    border-color: none;
}
.logo-img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 220px;
    height: auto;
    animation: scaleAnimation 3s infinite;
}

.logo-img-eben {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 250px;
    height: auto;
    animation: scaleAnimationEben 3s infinite;
}

@keyframes scaleAnimation {
    0%, 100% { width: 220px; }
    50% { width: 240px; }
}

@keyframes scaleAnimationEben {
    0%, 100% { width: 250px; }
    50% { width: 225px; }
}

/* Para pantallas más pequeñas */
@media (max-width: 768px) {
    .logo-img {
        width: 80px;
        animation: scaleAnimationSmall 3s infinite;
    }

    .logo-img-eben {
        width: 120px;
        bottom: 5px;
        animation: scaleAnimationEbenSmall 3s infinite;
    }

    @keyframes scaleAnimationSmall {
        0%, 100% { width: 80px; }
        50% { width: 88px; }
    }

    @keyframes scaleAnimationEbenSmall {
        0%, 100% { width: 120px; }
        50% { width: 108px; }
    }
}
.close-ticket{
    font-family: 'GilroyBold', sans-serif;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    text-shadow: 0 0 10px #03009c, 0 0 20px #03009c, 0 0 30px #03009c, 0 0 40px #03009c;
  
}

.text-factura-orden{
    margin-top: 0px;
    font-family: 'GilroyBold', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 0 3px #015CFA, 0 0 10px #015CFA, 0 0 15px #015CFA, 0 0 15px #015CFA; /* Efecto de sombra */
    text-align: center;
    margin-bottom: -10px;
}
.bold-text-city p span{
    margin-bottom: -25px;
    margin-top: -15px;
}
section.bill-print {
    background-color: #fff;
    display: block;
    box-sizing: border-box;
    margin: 0.5rem auto; /* Reducir el margen superior e inferior */
    max-width: 8cm; /* Establece el ancho máximo del contenido */
    width: 100%; /* Opcional: Puedes establecer un ancho máximo para la factura */
    height: auto; /* Ajusta la altura automáticamente según el contenido */
    padding: 0.1rem 0.9rem; /* Reducir el espacio interno del contenido */
    font-family: 'Gilroy', sans-serif;
    font-size: 1.1rem; /* Ajusta el tamaño de la fuente según sea necesario */
}


section.bill-print .bill-print-user p span:last-of-type,
section.bill-print .bill-print-products p span:last-of-type,
section.bill-print .bill-print-total p span:last-of-type {
  font-weight: bold;
  text-align: right;
  float: right;
  margin-bottom: -10px;
}
.bill-print-products p span{
    font-size: 13px;
}
.bill-print-products p span.product-name {
    display: block;
    max-width: 80%; /* Ancho máximo del contenedor del nombre del producto */
    word-wrap: break-word; /* Permitir el ajuste automático del texto en varias líneas */
    font-size: 13px; /* Tamaño de la fuente */
    line-height: 1.2; /* Espaciado entre líneas */
    margin-bottom: 0; /* Espacio entre nombres de productos */
    margin-left: 5px;
}

section.bill-print .bill-print-products p:first-of-type {
    /* font-weight: bold; */
}

section.bill-print .bill-print-header {
    text-align: center;
}
  
section.bill-print .bill-print-user {
    border-top: 1px solid #564e4b;
    border-bottom: 1px solid #56514B;
    margin: 1rem 0;
    padding: 0.5rem 0;
}

section.bill-print .bill-print-total p {
    border-top: 1px solid #56514B;
    margin-top: 1rem;
    padding-top: 0.5rem;
    font-size: 14px;
}

.boton-bill
{
    width: 50px;
}
.com p span{
    font-size: 0.9rem;
    margin-bottom: -10px;
}
section.bill-print p {
    line-height: 1; /* Establecer un line-height más pequeño */
    margin-bottom: 0.2rem; /* Reducir el margen inferior entre elementos */
}
/* Reducir espacios interlineales en la cabecera de la factura */
.bill-print-header p {
    margin: 0.2rem 0; /* Ajustar el margen superior e inferior */
}

.bill-print-header p span {
    line-height: 1; /* Establecer un line-height más pequeño */
    font-size: 14px;
}
.bold-text-orden{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -10px;
}

/* Reducir espacios interlineales en la sección del usuario */
.bill-print-user p {
    margin:  0; /* Ajustar el margen superior e inferior */
    font-size: 14px;
}

.bill-print-user p span {
    line-height: 1; /* Establecer un line-height más pequeño */
}

.bill-print-products th {
    padding-right: 15px; /* Ajusta este valor según tu preferencia */
    font-size: 15px;
}
/* Estilos para las celdas de la tabla de productos */
.bill-print-products .product-name {
    font-size: 13px; /* Reducir el tamaño de la fuente para productName */
    margin-right: 10px;
    margin-left: -5px;
}


.bill-print-products .product-quantity,
.bill-print-products .product-total {
    text-align: center;
    padding-right: 10px; /* Agregar espacio hacia la derecha */
    padding-left: -15px;
    font-size: 13px;
}
.product-value{
    font-size: 14px;
}
.product-name{
    margin-left: -5px
}
.bill-print-products table td {
    padding-bottom: 10px; /* Espacio entre filas */
}

table tr {
    margin-bottom: 15px; /* Ajusta el espacio vertical entre las filas */
}

/* Estilos adicionales */
@media print {
    body * {
        visibility: hidden;

    }
    #bill-print, #bill-print * {
        visibility: visible;
    }
    #bill-print {
        position: absolute;
        left: 0;
        top: -15px;
    }
    body {
        min-height: unset;
    }
    section.bill-actions {
        display: none;
    }
    @page {
        size: 80mm 100%; /* Ancho fijo de 80mm y altura automática */
        margin: 0.4cm; /* Márgenes de impresión */
    }
}
  
/*  */
